<header class="page-hero">

  <div class="page-hero__content">

    <img src="/assets/hero-2.png" alt="icon" class="page-hero__icon">
    <p class="page-hero__subheading">Best Quantity Products</p>
    <h3 class="page-hero__heading">Join the organic Movement</h3>

    <p class="page-hero__description">
      Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien.
    </p>

    <a routerLink="/products" class="page-hero__btn">Kup teraz</a>

  </div>

  <img src="/assets/hero.png" alt="products" class="page-hero__img">
</header>
