<footer class="page-footer">

  <div class="page-footer__content">
    <div class="page-footer__row">
      <h5 class="page-footer__row__heading">Download our Mobile App</h5>
      <p class="page-footer__row__text">Molestiae reiciendis neque arcu! Tempor reprehenderit accusantium quibusdam iste accusan.</p>

      <div class="page-footer__row__icons">
        <a href="#" class="page-footer__row__icons__app-store">App Store</a>
        <a href="#" class="page-footer__row__icons__google-play">Google Play</a>
      </div>
    </div>

    <div class="page-footer__row page-footer__row__flex">

      <app-page-logo [color]="'white'"></app-page-logo>

      <p class="page-footer__row__text">Click edit button to change this text. Lorem ipsum dolor sit amet</p>
    </div>

    <div class="page-footer__row">
      <h5 class="page-footer__row__heading">Quick Links</h5>

      <div class="page-footer__row__link-wrapper">
        <a href="#" class="page-footer__row__link">Know More about Us</a>
        <a href="#" class="page-footer__row__link">Visit Store</a>
        <a href="#" class="page-footer__row__link">Let's connect</a>
        <a href="#" class="page-footer__row__link">Locate Stores</a>
      </div>

    </div>

    <div class="page-footer__row">
      <h5 class="page-footer__row__heading">Site Links</h5>

      <div class="page-footer__row__link-wrapper">
        <a href="#" class="page-footer__row__link">Private Policy</a>
        <a href="#" class="page-footer__row__link">Shipping Details</a>
        <a href="#" class="page-footer__row__link">Offers</a>
        <a href="#" class="page-footer__row__link">Cupons</a>
        <a href="#" class="page-footer__row__link">Terms & Conditions</a>
      </div>

    </div>
  </div>
  <div class="page-footer__copyright">
    <p>Copyright © 2020 | BetterStore</p>
    <div class="page-footer__copyright-icons">
      <a href="#" class="icon--facebook">facebook</a>
      <a href="#" class="icon--twitter">twitter</a>
      <a href="#" class="icon--amazon">amazon</a>
      <a href="#" class="icon--instagram">instagram</a>
    </div>
  </div>
</footer>
