
  <div class="search-bar">

    <form #searchForm2="ngForm"  (submit)="handleSubmit()">

      <h4 class="search-bar__subheading">Wyszukaj</h4>
      <div class="search-bar__input-wrapper" >
        <input
          type="text"
          placeholder="Nazwa"
          name='title'
          [value]="title"
          (change)="title = $event.target.value"
        />
      </div>

      <h4 class="search-bar__subheading">Kategorie</h4>

      <div class="search-bar__checkbox-wrapper" *ngFor="let category of categories">
          <input
            (change)="handleCheckboxChange($event.target)"
            type="checkbox"
            name='category'
            [id]='category.value'
            [value]="category.value"
            [checked]="category.isActive"
          />
          <label [for]="category.value" ><span class="search-bar__checkbox" ></span>{{ category.title }}</label>
      </div>

      <h4 class="search-bar__subheading">Cena</h4>
      <div class="search-bar__price-range__wrapper">

        <div class="search-bar__price-range">
          <label for="price-min" >Od</label>
          <input
            type="number"
            name="price-min"
            id="price-min"
            [value]="price.min"
            (blur)="handlePriceChange($event.target, 'min' )"
          >
        </div>

        <div class="search-bar__price-range">
          <label for="price-max" >Do</label>
          <input
            type="number"
            name="price-max"
            id="price-max"
            [value]="price.max"
            (blur)="handlePriceChange($event.target, 'max' )"
          >
        </div>

      </div>
      <button class="form__btn">Szukaj</button>

    </form>

  </div>
