@import '../../../../../style/shared';

.search-bar{
  margin:20px -20px -30px;
  padding:30px 20px;
  width:calc(100% + 40px);
  height: 100%;
  background: $searchBarBg;

  @media screen and (min-width:700px){
    margin:20px 0 25px;
    width:100%;
  }
  @media screen and (min-width:900px){
      margin-top: 0;
  }

  &__subheading{
    margin:25px 0 15px;
    font-size:18px;
    font-family:Poppins;
    font-weight:bold;
    color:$searchBarColor;
  }

  &__price-range{
    &__wrapper{
      @include flex(auto,auto,0 25px);
    }
    input{
      margin-top: 5px;
      padding: 0 5px;
      height:35px;
      width:70px;
      display: block;
      color:$searchBarColor;
      font-size: 15px;
    }
    label{
      text-transform: lowercase;
      color:$gray;
    }
  }

  &__checkbox-wrapper{
    margin-top:5px;
    color:$dark;
    font-size:15px;
    font-family:Poppins;

    input[type=checkbox]:checked + label > span::after{
        background:$searchBarColor;
    }
    label{
      cursor: pointer;
    }
  }

  &__checkbox{
    margin-right:5px;
    width:15px;
    height:15px;
    display:inline-block;
    position:relative;
    border:3px solid $searchBarColor;
    vertical-align:middle;
    cursor:pointer;

    &::after{
      @include absolute(50%,auto,auto,50%,translate(-50%,-50%));
        content:"";
        width:6px;
        height:6px;
        display:block;
        background:transparent;
    }
  }

  &__input-wrapper{
    width:100%;
    height:45px;

    input{
        padding:0 15px;
        height:100%;
        width:100%;
        display:block;
        border:2px solid #ddd;
        color:$searchBarColor;
        font-size:15px;
        font-weight:bold;

        &::placeholder{
          color:#999;
        }
    }

  }
}
