<div class="products-wrapper">
  <div class="flex-container">

    <app-select-per-page *ngIf="pagination"  ></app-select-per-page>


    <div class="product" *ngFor="let product of products">

      <a [routerLink]="['/products',product.category , product._id]" (click)="scrollTop()">
        <img  [src]="product.img" alt="product" class="product__img">
      </a>

      <div class="product__content">
        <p class="product__content__category">{{ product.category }}</p>
        <a
         [routerLink]="['/products',product.category , product._id]"
          class="product__content__heading" (click)="scrollTop()"
        >{{ product.title }}</a>

        <div class="product__content__rates">
            <span class="product__content__rates__active" [ngStyle]="{'width': getProductRates(product) }"> </span>
        </div>

          <div class="product__content__price-wrapper">
            <p class="product__content__price">{{ product.price }}zł</p>
            <p class="product__content__discount" *ngIf="product.discount > 0" >{{ (product.price + (product.price / 100 * product.discount)).toFixed(2)}}zł</p>
          </div>

      </div>

    </div>

    <app-pagination [activePage]='currentPage' [lastPage]="totalPages" *ngIf="pagination" (pageEmmiter)="changePage($event)"></app-pagination>

  </div>

  <app-search-bar *ngIf="searchbar"></app-search-bar>

</div>
