.cart{
  height:45px;
  width:45px;
  display:block;
  background-image: url('/assets/cart.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent:-9999px;
}
